@import "@/app/globals.css";

.contact-container {
    margin: 30rem auto;
    width: 70%;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    gap: 3rem;
}

.contact-text {
    max-width: 50%;
}

.contact-text button {
    margin: 1rem 0; 
}

.contact-form {
    width: 30rem;
}

.contact-form > * {
    display: block;
    width: 100%;
}

.credentials-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
}

label {
    font-weight: bold;
}

input, textarea {
    font-family: var(--font-geist-sans);
    background-color: transparent;
    border: 1px solid var(--button-secondary-border);
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem 0;
}

textarea {
    resize: none;
    height: 15rem;
}

input:focus, textarea:focus {
    border: 1px solid var(--text-primary);
}

#company {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -1;
}

.error-icon {
    font-size: 1.5rem;
}

.error-container {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-primary);
  background-color: var(--button-secondary-border);
  border: 1px solid var(--text-tertiary);
  border-radius: 10px;
  padding: 1rem;
}