@import "@/app/globals.css";

.project-page {
    width: 50%;
    max-width: 1100px;
    margin-top: 10rem;
}

.project-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
}

.description {
    width: 40%;
}

.project-page-img-desktop, .project-page-img-mobile {
    border: 1px solid var(--button-secondary-border);
    border-radius: 16px;
    margin: 2rem auto;
}

.project-page-img-mobile {
    display: none;
}

.project-action-btns {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 1rem 0;
}

.backlink {
    color: var(--text-tertiary);
}

.left-arrow {
    margin-right: 8px;
    font-size: 12px;
}

.project-par {
    margin: 3rem auto;
}

.project-par h3 {
    text-transform: capitalize;
    margin: 1rem 0;
}

@media (max-width: 1200px) {
    .project-page {
        width: 70%;
    }
}

@media (max-width: 820px) {
    .project-page-img-desktop {
        display: none;
    }
    .project-page-img-mobile {
        display: block;
    }
}

@media (max-width: 430px) {
    .project-page {
        width: 90%;
    }
    .project-page-header {
        display: block;
    }   
    .description {
        width: 100%;
    }
}