@import "@/app/globals.css";

.menu-btn-container {
    position: relative;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
}

.menu-upper, .menu-lower {
    content: "";
    width: 20px;
    height: 2px;
    background-color: var(--text-primary);
    transition: 0.3s ease-out;
    transform-origin: left;
    border-radius: 1px;
}