@import "@/app/globals.css";

.spinner {
    animation: spin 1s ease-in infinite;
    color: var(--text-secondary);
    font-size: 1.5rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}