@import "@/app/globals.css";

.projects-section {
    max-width: 1800px;
}

.projects-section-header {
    max-width: 35%;
}

.projects-container {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 2rem;   
}

@media (max-width: 1100px) {
    .projects-section-header {
        max-width: 70%;
    }
}