@import "@/app/globals.css";

.projects-section {
    margin: 0 auto;
    width: 90%;
    max-width: 1800px;
}

.projects-container {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 2rem;   
}

.projects-section span {
    color: var(--text-tertiary);
    margin-left: 0.5rem;
}

.project-card {
    width: 30rem;
}

.project-header {
    border-radius: 3rem;
    border: 1px solid var(--button-secondary-border);
}

.arrow-container {
    background-color: var(--background-primary);
    color: var(--text-primary);
    padding: 1rem;
    border-radius: 1rem;
}

.project-tags-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    margin: 1rem 0;
}

.project-tag {
    padding: 0.5rem;
    border: 1px solid var(--button-secondary-border);
    background-color: transparent;
    border-radius: 1rem;
    width: fit-content;
}

.project-card-image {
    border-radius: 1rem;
}

.project-card button {
    margin: 1rem 0;
}