@import "@/app/globals.css";

.projects-section {
    max-width: 1800px;
}

.projects-section-header {
    max-width: 40%;
}

.projects-container {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 2rem;   
}

.project-card {
    width: 40rem;
    border-radius: 20px;
}

.project-card-image-desktop, .project-card-image-mobile {
    border: 1px solid var(--button-secondary-border);
    border-radius: 16px;
}

.project-header {
    border-radius: 3rem;
    border: 1px solid var(--button-secondary-border);
}

.project-tags-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    margin: 1rem 0;
}

.project-tag {
    padding: 0.5rem;
    border: 1px solid var(--button-secondary-border);
    background-color: transparent;
    border-radius: 1rem;
    width: fit-content;
}

.project-card button {
    margin: 1rem 0;
}

.project-card-image-mobile {
    display: none;
}

@media (max-width: 1100px) {
    .projects-section-header {
        max-width: 70%;
    }
}

@media (max-width: 1024px) {
    .project-card-image-desktop {
        display: none;
    }
    .project-card-image-mobile {
        display: flex;
    }
    .project-card {
        width: 24rem;
    }
}