@import "@/app/globals.css";

.projects-page-header {
    text-align: center;
    width: 40%;
}

.projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}