@import "@/app/globals.css";

.projects-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 1800px;
    margin: 0 auto;
}

.projects-page-header {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 10rem;
}

.projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5rem auto;
}

@media (max-width: 820px) {
    .projects-page-header {
        width: 60%;
    }
}