:root {
  --background-primary: #050505;
  --background-secondary: #fafafa;
  --background-tertiary: #090909;

  --text-primary: #ededed;
  --text-secondary: #000;
  --text-tertiary: #696969;

  --button-primary-hover: #ccc;
  --button-secondary-hover: #1a1a1a;
  --button-secondary-border: #1a1a1a;
}

html.light {
  --background-primary: #fafafa;
  --background-secondary: #000;
  --background-tertiary: #efefef;

  --text-primary: #000;
  --text-secondary: #ededed;
  --text-tertiary: #666;  

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-geist-sans);
  scroll-behavior: smooth;
}

body {
  color: var(--text-primary);
  background: var(--background-primary);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

main > * {
  width: 80%;
  margin: 5rem auto;
  max-width: 1800px;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
  margin: 2rem 0;
}

h2 {
  font-size: 50px;
  margin: 1rem 0;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 18px;
  line-height: 32px;
  color: var(--text-tertiary);
}

button {
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button > * {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  transition: 0.3s;
}

.primary-button {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
}

.primary-button > * {
  color: var(--text-secondary);
}

.primary-button:hover {
  background-color: var(--button-primary-hover);
}

.secondary-button {
  background-color: transparent;
  color: var(--text-primary);
  border: 1px solid var(--button-secondary-border)
}

.secondary-button > * {
  color: var(--text-primary);
}

.secondary-button:hover {
  background-color: var(--button-secondary-hover);
}

.tag-container {
  background-color: var(--background-accent);
  padding: 0.75rem;
  color: var(--text-primary);
  border-radius: 20px;
  width: fit-content;
}

a:hover {
  color: var(--text-primary);
  transition: 0.3s ease-in;
}

@media (max-width: 1200px) {
  h1 {
    line-height: normal;
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 25px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 13px;
  }
}
