:root {
  --background-primary: #000;
  --background-secondary: #fafafa;

  --text-primary: #ededed;
  --text-secondary: #000;
  --text-tertiary: #696969;

  --button-primary-hover: #ccc;
  --button-secondary-hover: #1a1a1a;
  --button-secondary-border: #1a1a1a;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-primary: #fafafa;
    --background-secondary: #000;

    --text-primary: #000;
    --text-secondary: #ededed;
    --text-tertiary: #666;

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
    --button-secondary-border: #ebebeb;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-geist-sans);
}

body {
  color: var(--text-primary);
  background: var(--background-primary);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--background-primary);
  padding: 120px 60px;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
  margin: 2rem 0;
}

h2 {
  font-size: 60px;
  margin: 1rem 0;
}

p {
  font-size: 18px;
  line-height: 32px;
  color: var(--text-tertiary);
}

button {
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button > * {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  transition: 0.3s;
}

.primary-button {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
}

.primary-button > * {
  color: var(--text-secondary);
}

.primary-button:hover {
  background-color: var(--button-primary-hover);
}

.secondary-button {
  background-color: transparent;
  color: var(--text-primary);
  border: 1px solid var(--button-secondary-border)
}

.secondary-button > * {
  color: var(--text-primary);
}

.secondary-button:hover {
  background-color: var(--button-secondary-hover);
}

.error-container {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text-primary);
  border: 1px solid var(--button-secondary-border);
  border-radius: 10px;
  padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
