@import "@/app/globals.css";

.education-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
}

.education-section-header h2 {
    max-width: 70%;
}

.education-section-header p {
    max-width: 60%;
}

.education-content {
    margin: 1rem 0;
}

.milestone-container {
    border-top: 1px solid var(--button-secondary-border);
    border-bottom: 1px solid var(--button-secondary-border);
    padding: 3rem 0;
    max-width: 600px;
}

.milestone-header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.milestone-collapsable {
    margin-left: 1.75rem;
}

.milestone-relevant-courses {
    margin: 1rem 0;
}

.milestone-relevant-courses li {
    color: var(--text-tertiary);
    margin: 1rem 0;
}

.milestone-description {
    margin: 1rem 0;
}

@media (max-width: 700px) {
    .education-section {
        display: block;
    }
}

@media (max-width: 600px) {
    .education-section-header h2 {
        max-width: 90%;
    }
    .education-section-header p {
        max-width: 90%;
    }
}