@import "@/app/globals.css";

.education-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.education-section-header h2 {
    max-width: 80%;
}

.education-section-header p {
    max-width: 60%;
}

.milestone-container {
    display: flex;
    align-items: top;
    gap: 1rem;
}

.milestone-container, .milestone-group > * {
    margin-top: 2rem;
}

.milestone-subcontainer ul {
    padding: 0;
    list-style: none;
}

.milestone-subcontainer li {
    color: var(--text-tertiary);
}

.milestone-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 2px solid var(--button-secondary-border);
    padding: 0 2rem;
    margin-top: 1rem;
}

.education-section h3, .education-section h4 {
    text-transform: capitalize;
}

.institute-logo {
    border-radius: 5px;
    border: 1px solid var(--button-secondary-border);
}

.milestone-period {
    font-weight: bold;
}