.hero {
    margin: 20rem auto;
    width: 90%;
}

.hero p {
    max-width: 50%;
}

.hero-buttons {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
}

.github-link {
    display: flex;
    align-items: center;
}

.hero button {
    display: flex;
    align-items: center;
}

.hero-btn-icon {
    font-size: 1.25rem;
    margin-right: 0.5rem;
}
