.hero {
    margin: 20rem auto;
    text-align: center;
}

.hero p {
    max-width: 50%;
    margin: 0 auto;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    gap: 1rem;
}

.github-link {
    display: flex;
    align-items: center;
}

.hero button {
    display: flex;
    align-items: center;
}

.hero-btn-icon {
    font-size: 1.25rem;
    margin-right: 0.5rem;
}
