@import "@/app/globals.css";

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 95%;
    max-width: 2200px;
    padding: 1rem 0.5rem;
    background: var(--background-primary);
}

.nav-inner {
    transition: ease-in-out 1.0s;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: -3rem;
}

.logo {
    font-size: 1.25rem;
    font-weight: bold;
}

.navlink {
    color: var(--text-tertiary);
    margin: 0 0.5rem;
}

.toggle-menu li {
    color: var(--text-tertiary);
    margin: 1rem 0;
}

.navbtn-links {
    font-weight: bold;
}

/* Represents the open state of the mobile nav. */
.toggle-open {
    transition: ease-in-out 0.5s;
    background-color: var(--background-primary);
}

.toggle-menu-btn {
    color: var(--text-primary);
    font-size: 1.25rem;
    display: none;
}

.toggle-menu  {
    display: none;
    padding: 0;
    margin: 0;
    text-align: left;
    list-style: none;
}

@media (max-width: 770px) {
    .toggle-menu, .toggle-menu-btn {
        display: block;
    }
    .nav-container {
        padding: 0 1rem;
    }
    .nav-inner {
        align-items: flex-start;
        max-width: 100%;
        border-radius: 0;
        padding: 1rem;

    }
    .nav-menu, .nav-btns {
        display: none;
    }
}